body{
    background-image: url(https://i.pinimg.com/1200x/85/54/b1/8554b1a1e24373b78167f0940848ef9f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.Home{
    height: 30vw;
  }

.text_home {
    background-color: #819869;
    font-family: 'Merriweather', serif;
    color: #D7E7E5;
    width: 98.9vw;
    height: 25vw;
    padding-top: 3.5vw;
    font-size: 2vw;
    text-align: center;
}

.text_home ul {
    list-style-type: none;
}

.subtitulo{
    font-family: 'Merriweather', serif;
    color: #D7E7E5;
    font-size: 3vw;
}



@media only screen and (max-width: 640px) {
    body{
        background-image: none;
    }

    .subtitulo{
        font-size: 6.5vw;
    }

    .text_home {
        font-size: 4.5vw;
        height: 70vw;
        padding-top: 15.5vw;
      }
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
    body{
        background-image: none;
    }

    .subtitulo{
        font-size: 6vw;
    }

    .text_home {
        font-size: 5vw;
        height: 70vw;
      }
}

